version: '3.8'

services:
  backend:

    image: ghcr.io/polkanoval/pizza-shop-backend:latest
    container_name: pizza-backend
    restart: always
    ports:
      - "8000:8000"

    volumes:

      - ./db.sqlite3:/app/db.sqlite3

    deploy:
      resources:
        limits:
          memory: 256M
    logging: &default-logging
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  frontend:

    image: ghcr.io/polkanoval/pizza-shop-frontend:latest
    container_name: pizza-frontend
    ports:
      - "8080:80"
    restart: always
    logging: *default-logging
    deploy:
      resources:
        limits:
          memory: 128M