version: '3.8'

services:
  backend:
    image: ghcr.io/polkanoval/pizza-shop-backend:latest
    restart: always
    ports:
      - "5000:5000"

  frontend:
    image: ghcr.io/polkanoval/pizza-shop-frontend:latest
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend